In [1]:
import pandas as pd

df= pd.read_csv(r"Interpolated_MDD_Data_1.csv")
df.head()

        Date  Discharge
0   6/7/2001     7484.76
1   6/8/2001     6981.75
2   6/9/2001     6446.92
3  6/10/2001     5945.40
4  6/11/2001     5417.07

In [2]:
df.isnull()

       Date  Discharge
0     False       False
1     False       False
2     False       False
3     False       False
4     False       False
...     ...         ...
7508  False       False
7509  False       False
7510  False       False
7511  False       False
7512  False       False

[7513 rows x 2 columns]

In [3]:
df.isnull().sum()

Date             0
Discharge     2701
dtype: int64

In [4]:
#filling null values
df['Discharge ']=df['Discharge '].interpolate(method='linear')

In [5]:
df.to_excel('new_discharge_interpolated.xlsx')